<h2>My contacts</h2>

<ul class="contacts">
  <li *ngFor="let contact of contacts"
    [class.selected]="contact === selectedcontact"
    (click)="onSelect(contact)">
    <span class="badge">{{contact.id}}</span> {{contact.name}}
  </li>
</ul>
 
<div *ngIf="selectedContact">
  <h2>{{ selectedContact.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedContact.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedContact.name" placeholder="name">
    </label>
  </div>
 
</div>